<div class="row">
  <div class="col-12">
    <img class="img-responsive"
    style="max-height: 300px;" 
    [src]="recipe.imagePath" 
    [alt]="recipe.name">
  </div>
</div>
<div class="row">
  <div class="col-12">
    <h1>{{ recipe.name }}</h1>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <div class="dropdown">
      <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        Administrer la recette
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="#">Ajouter a la shopping list</a>
        <a class="dropdown-item" href="#">Modifier la recette</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item text-danger" href="#">Supprimer</a>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12">
    {{ recipe.desc }}
  </div>
</div>
<div class="row">
  <div class="col-12">
    Ingrédients
  </div>
</div>