<div class="row">
  <div class="col-12">
    <img class="img-responsive"
    style="max-height: 350px;" 
    [src]="recipe.imagePath" 
    [alt]="recipe.name">
  </div>
</div>
<div class="row">
  <div class="col-12">
    <h1>{{ recipe.name }}</h1>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <div class="dropdown">
      <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        Administrer la recette
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" style="cursor: pointer;" (click)='onAddToShoppingList()'>Ajouter a la shopping list</a>
        <a class="dropdown-item">Modifier la recette</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item text-danger">Supprimer</a>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12">
    {{ recipe.desc }}
  </div>
</div>
<div class="row">
  <div class="col-12">
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let ingredient of recipe.ingredients">
        {{ ingredient.name }} ({{ ingredient.amount }})
      </li>
    </ul>
  </div>
</div>